:root.theme-dark {
  --gray-0: #ffffff;
  --gray-50: #f3f4f7;
  --gray-100: #e3e6ee;
  --gray-200: #c3cadb;
  --gray-300: #a3acc8;
  --gray-400: #8490b5;
  --gray-500: #6474a2;
  --gray-600: #505d84;
  --gray-700: #3d4663;
  --gray-800: #283044;
  --gray-900: #141925;
  --gray-999-basis: 225, 31%, 5%;
  --gray-999: #090b11;

  --accent-light: #1c0056;
  --accent-regular: #7611a6;
  --accent-dark: #c561f6;
  --accent-overlay: hsla(280, 89%, 67%, 0.33);
  --accent-subtle-overlay: hsla(281, 81%, 36%, 0.33);
  --accent-text-over: var(--gray-0);

  --link-color: var(--accent-dark);

  --gradient-stop-1: #4c11c6;
  --gradient-subtle: linear-gradient(
    150deg,
    var(--gray-900) 19%,
    var(--gray-999) 81%
  );
  --gradient-accent-orange: linear-gradient(
    150deg,
    #ca7879,
    var(--accent-regular),
    var(--accent-light)
  );
  --gradient-stroke: linear-gradient(180deg, var(--gray-600), var(--gray-800));

  --shadow-sm: 0px 6px 3px rgba(255, 255, 255, 0.01),
    0px 4px 2px rgba(255, 255, 255, 0.01), 0px 2px 2px rgba(255, 255, 255, 0.02),
    0px 0px 1px rgba(255, 255, 255, 0.03);
  --shadow-md: 0px 28px 11px rgba(255, 255, 255, 0.01),
    0px 16px 10px rgba(255, 255, 255, 0.03),
    0px 7px 7px rgba(255, 255, 255, 0.05), 0px 2px 4px rgba(255, 255, 255, 0.06);
  --shadow-lg: 0px 62px 25px rgba(255, 255, 255, 0.01),
    0px 35px 21px rgba(255, 255, 255, 0.05),
    0px 16px 16px rgba(255, 255, 255, 0.1),
    0px 4px 9px rgba(255, 255, 255, 0.12);
}

.md-dark {
  --md-sys-color-primary: rgb(151 210 192);
  --md-sys-color-surface-tint: rgb(151 210 192);
  --md-sys-color-on-primary: rgb(0 56 45);
  --md-sys-color-primary-container: rgb(69 127 111);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(195 228 161);
  --md-sys-color-on-secondary: rgb(30 55 6);
  --md-sys-color-secondary-container: rgb(154 186 123);
  --md-sys-color-on-secondary-container: rgb(20 43 0);
  --md-sys-color-tertiary: rgb(255 182 143);
  --md-sys-color-on-tertiary: rgb(84 33 0);
  --md-sys-color-tertiary-container: rgb(245 120 38);
  --md-sys-color-on-tertiary-container: rgb(28 7 0);
  --md-sys-color-error: rgb(255 178 190);
  --md-sys-color-on-error: rgb(102 0 38);
  --md-sys-color-error-container: rgb(218 44 98);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(17 20 19);
  --md-sys-color-on-background: rgb(225 227 224);
  --md-sys-color-surface: rgb(18 19 21);
  --md-sys-color-on-surface: rgb(227 226 227);
  --md-sys-color-surface-variant: rgb(66 71 76);
  --md-sys-color-on-surface-variant: rgb(194 199 204);
  --md-sys-color-outline: rgb(140 145 150);
  --md-sys-color-outline-variant: rgb(66 71 76);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(227 226 227);
  --md-sys-color-inverse-on-surface: rgb(47 48 50);
  --md-sys-color-inverse-primary: rgb(46 104 89);
  --md-sys-color-primary-fixed: rgb(178 239 219);
  --md-sys-color-on-primary-fixed: rgb(0 32 25);
  --md-sys-color-primary-fixed-dim: rgb(151 210 192);
  --md-sys-color-on-primary-fixed-variant: rgb(16 80 66);
  --md-sys-color-secondary-fixed: rgb(204 237 169);
  --md-sys-color-on-secondary-fixed: rgb(13 32 0);
  --md-sys-color-secondary-fixed-dim: rgb(176 209 143);
  --md-sys-color-on-secondary-fixed-variant: rgb(52 78 27);
  --md-sys-color-tertiary-fixed: rgb(255 219 202);
  --md-sys-color-on-tertiary-fixed: rgb(51 17 0);
  --md-sys-color-tertiary-fixed-dim: rgb(255 182 143);
  --md-sys-color-on-tertiary-fixed-variant: rgb(119 50 0);
  --md-sys-color-surface-dim: rgb(18 19 21);
  --md-sys-color-surface-bright: rgb(56 57 58);
  --md-sys-color-surface-container-lowest: rgb(13 14 15);
  --md-sys-color-surface-container-low: rgb(26 28 29);
  --md-sys-color-surface-container: rgb(31 32 33);
  --md-sys-color-surface-container-high: rgb(41 42 43);
  --md-sys-color-surface-container-highest: rgb(52 53 54);
  --md-extended-color-dark-blue-color: rgb(175 202 222);
  --md-extended-color-dark-blue-on-color: rgb(25 51 67);
  --md-extended-color-dark-blue-color-container: rgb(25 52 67);
  --md-extended-color-dark-blue-on-color-container: rgb(168 194 214);
}
