---
import { Image } from "astro:assets";
import { getRelativeLocaleUrl } from "astro:i18n";
import * as i18n from "../../i18n";

import BaseLayout from "../../layouts/BaseLayout.astro";

import ContactCTA from "../../components/ContactCTA.astro";
import Hero from "../../components/Hero.astro";

import coverImage from "../../data/hiking_bags.jpg";

// Compute the URL for the projects page
const locale = i18n.getLocaleFromUrl(Astro.url);
const thesisUrl = getRelativeLocaleUrl(
  locale,
  "/projects/parallel-best-first-generalized-planning/",
);
---

<BaseLayout
  title="About | Alejandro Fernández Alburquerque"
  description="About Alejandro Fernández Alburquerque"
>
  <main class="wrapper about">
    <Hero
      title="About"
      tagline="Thanks for stopping by. Read below to learn more about myself and my background."
    >
      <Image
        width="1553"
        height="873"
        src={coverImage}
        alt="Hiking bags in the mountains, from a trip to the Pyrenees"
        loading="eager"
      />
    </Hero>

    <section>
      <h2 class="section-title">Background</h2>
      <div class="content">
        <p>
          Hi, my name is Alejandro Fernández Alburquerque, and I have recently
          graduated from Universitat Pompeu Fabra (Barcelona, Spain) with a
          degree in Computer Engineering.
        </p>
        <p>
          From all the Computer Engineering subjects, I especially enjoyed
          learning about Programming, Algorithm Design, and Artificial
          Intelligence. The most rewarding highlight of my studies has been
          working on multiple team projects for different subjects, like
          developing an automatic face recognition deep learning model or
          building a reinforcement learning agent for a competitive Pac-Man
          game. These projects have been an excellent opportunity to acquire
          teamwork skills and learn how to use modern software collaboration
          tools. Most of my school projects, including my bachelor thesis, are
          on my <a href="https://github.com/Alejandro-FA">GitHub page</a> if you
          are interested in them.
        </p>
        <p>
          Regarding personal hobbies, I enjoy playing various team sports, such
          as football and padel, and hiking is one of my favorite summer
          activities. Additionally, as a good stereotypical computer engineer, I
          also love playing video games with friends. Furthermore, my interest
          in technology extends beyond my studies. I like to keep updated with
          hardware developments and enjoy tinkering with my custom-built desktop
          PC.
        </p>
      </div>
    </section>
    <section>
      <h2 class="section-title">Education</h2>
      <div class="content">
        <ul class="education-list">
          <li class="education-entry">
            <div class="education-head">
              <span class="education-title"
                >Bachelor's degree, Computer Engineering</span
              >
              <span class="education-details"
                >2020 - 2024, Universitat Pompeu Fabra</span
              >
            </div>
            <p class="education-description">
              My four-year academic journey in Physics Engineering led me to
              discover my passion for computer engineering and programming. I
              graduated in Computer Engineering in second place, <strong
                >completing 20 subjects with Honours ("Matrícula de Honor" in
                Spanish)</strong
              >, including Artificial Intelligence, Cryptography and Security,
              Object-Oriented Programming, Machine Learning, and Algorithm
              Design.
            </p>
            <p class="education-description">
              One of the most rewarding aspects of my Bachelor's degree was the
              opportunity to collaborate with brilliant colleagues. I learned
              how to work effectively in a team, developing my skills in
              collaborative planning and organization, technical communication,
              and software development with version control systems like Git.
            </p>
          </li>
          <li class="education-entry">
            <div class="education-head">
              <span class="education-title"
                >Bachelor's degree, Physics Engineering (unfinished)</span
              >
              <span class="education-details"
                >2016 - 2020, Universitat Politècnica de Catalunya</span
              >
            </div>
            <p class="education-description">
              After completing my Baccalaureate studies with an honorary
              distinction, I decided to continue my education with a challenging
              scientific Bachelor's degree, so I chose Engineering Physics.
              However, amid the COVID-19 pandemic, I discovered my passion for
              computers and programming, prompting me to switch from Engineering
              Physics to Computer Engineering. Even though I did not finish my
              studies, I am deeply appreciative for the learning experience and
              the brilliant people I met, and for the strong foundation in
              mathematics and physics that I acquired.
            </p>
          </li>
        </ul>
      </div>
    </section>
    <section>
      <h2 class="section-title">Experience</h2>
      <div class="content">
        <ul class="experience-list">
          <li class="experience-entry">
            <div class="experience-head">
              <span class="experience-title"
                >Intern at the Artificial Intelligence and Machine Learning
                Research Group</span
              >
              <span class="experience-details"
                >2024, Universitat Pompeu Fabra</span
              >
            </div>
            <p class="experience-description">
              While interning at the University's AI and ML research group, I
              developed my Bachelor's thesis, <a href={thesisUrl}
                >"Parallel Strategies for Best-First Generalized Planning."</a
              > I also had the opportunity to learn from world-renowned researchers
              in automated planning.
            </p>
          </li>
        </ul>
      </div>
    </section>
    <!-- <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>officia unde omnis</p>
        </div>
      </section> -->
  </main>
  <ContactCTA />
</BaseLayout>

<style>
  main {
    margin-bottom: 5rem;
  }

  .about {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--md-sys-color-on-surface-variant);
    font-size: var(--text-md);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--md-sys-color-secondary);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content > p:not(:last-child) {
    margin-block-end: 0.75rem;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  .education-list,
  .experience-list {
    list-style-type: none; /* Remove list item dots */
    padding: 0;
  }

  .education-entry:not(:last-child),
  .experience-entry:not(:last-child) {
    margin-bottom: 2rem; /* Spacing between each entry */
  }

  .education-head,
  .experience-head {
    margin-bottom: 0.5rem; /* Spacing between the head and description */
  }

  .education-title,
  .experience-title {
    display: block;
    font-weight: bold;
    color: var(--md-sys-color-primary);
  }

  .education-details,
  .experience-details {
    display: block;
    color: var(--md-sys-color-secondary);
    font-size: var(--text-sm);
    /* font-weight: bold; */
  }

  .education-description,
  .experience-description {
    margin-top: 0.5rem; /* Spacing between the head and description */
    font-size: var(--text-sm);
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }

    .education-description,
    .education-details,
    .experience-description,
    .experience-details {
      font-size: var(--text-md);
    }
  }
</style>
