---
import CallToAction from "@components/CallToAction.astro";
import Icon from "@components/Icon.astro";

import * as i18n from "@i18n";

const cvFile = "alejandro_fernandez_cv-en.pdf";
const locale = i18n.getLocaleFromUrl(Astro.url);
const t = i18n.getTranslations(locale);
---

<aside>
  <h2>{t.common.contactCTA.heading}</h2>
  <CallToAction href={`/r2/${cvFile}`} download={cvFile}>
    {t.common.contactCTA.downloadCV}
    <Icon icon="file-arrow-down" size="1.2em" />
  </CallToAction>
</aside>

<style>
  aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    border-top: 1px solid var(--outline-color);
    border-bottom: 1px solid var(--outline-color);
    padding: 3rem 1.5rem;
    background-color: var(--surface-container-color);
    box-shadow: var(--shadow-sm);
  }

  h2 {
    font-size: var(--text-xl);
    text-align: center;
    max-width: 15ch;
  }

  @media (min-width: 50em) {
    aside {
      gap: 3rem;
    }

    h2 {
      font-size: var(--text-3xl);
    }
  }

  @media (min-width: 65em) {
    aside {
      padding: 7.5rem;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    h2 {
      text-align: left;
    }
  }
</style>
