---
interface Props {
  href: string;
  download?: string | undefined;
  small?: boolean | undefined;
}

const { href, download, small = false } = Astro.props;
---

<a href={href} download={download} class={small ? "" : "large"}><slot /></a>

<style>
  a {
    position: relative;
    display: flex;
    place-content: center;
    text-align: center;
    padding: 0.5em 1em;
    gap: 0.5em;
    color: var(--md-sys-color-on-tertiary-container);
    text-decoration: none;
    line-height: 1.35;
    border-radius: 999rem;
    overflow: hidden;
    background: var(--md-sys-color-tertiary-container);
    box-shadow: var(--shadow-md);
    white-space: nowrap;
    align-items: center;
  }

  a.large {
    padding: 0.56em 2em;
    gap: 0.8em;
    line-height: 1.1;
  }

  /* Overlay for hover effects. */
  a::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    transition: background-color var(--theme-transition);
    mix-blend-mode: overlay;
  }

  a:focus::after,
  a:hover::after {
    background-color: color-mix(
      in srgb,
      var(--md-sys-color-inverse-surface) 25%,
      transparent
    );
  }

  @media (min-width: 20em) {
    a {
      font-size: var(--text-md);
    }
    a.large {
      font-size: var(--text-lg);
    }
  }

  @media (min-width: 50em) {
    a {
      font-size: var(--text-lg);
    }
    a.large {
      padding: 1.125rem 2.5rem;
      font-size: var(--text-xl);
    }
  }
</style>
