---
import { Image } from "astro:assets";
import { type CollectionEntry } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";
import * as i18n from "../i18n";

interface Props {
  project: CollectionEntry<"projects">;
  loading?: "eager" | "lazy" | undefined;
}

const { project, loading } = Astro.props;

/** i18n utilities */
const locale = i18n.getLocaleFromUrl(Astro.url);
---

<a
  class="card"
  href={getRelativeLocaleUrl(locale, `/projects/${project.id}`)}
  data-astro-prefetch
>
  <article>
    <h1 id="project-title">{project.data.title}</h1>
    <Image
      src={project.data.thumbnail}
      alt={project.data.thumbnailAlt || ""}
      loading={loading}
      widths={[256, 340, 480, 637, 939, 1366, 1640, 1878]}
      sizes="(min-width: 800px) 608px, (min-width: 390px) calc(100vw - 48px), calc(26.67vw + 216px)"
    />
  </article>
</a>

<style>
  .card {
    display: block;
    height: 11rem;
    background: var(--md-sys-color-surface-container-low);
    border: 1px solid red var(--outline);
    border-radius: 0.75rem;
    overflow: hidden;
    box-shadow: var(--shadow-sm);
    text-decoration: none;
    transition: box-shadow var(--theme-transition);
  }

  .card:hover {
    box-shadow: var(--shadow-md);
  }

  article {
    display: grid;
    grid-template: auto 1fr / auto 1fr;
    width: 100%;
    height: 100%;
  }

  #project-title {
    grid-area: 1 / 1 / 2 / 2;
    z-index: 1;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    background: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface-variant);
    border-radius: 0.375rem;
    font-size: var(--text-lg);
    font-family: var(--font-brand);
    font-weight: 500;
    line-height: 1.5;
  }

  img {
    grid-area: 1 / 1 / 3 / 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (min-width: 50em) {
    .card {
      height: 22rem;
      border-radius: 1.5rem;
    }

    #project-title {
      border-radius: 0.9375rem;
    }
  }
</style>
