---
import Icon from "./Icon.astro";
---

<section class="box skills">
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="terminal-window"
      color="var(--md-sys-color-primary)"
      size="2.5rem"
      gradient
    />
    <h2>Coding enthusiast</h2>
    <p>
      Programming is my passion. Few things are more satisfying than solving
      complex problems and bringing ideas to life through code.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="trophy"
      color="var(--md-sys-color-primary)"
      size="2.5rem"
      gradient
    />
    <h2>Hard worker</h2>
    <p>
      My commitment to computer engineering has driven me to excel academically,
      completing 20 subjects with honors during my studies.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="users-three"
      color="var(--md-sys-color-primary)"
      size="2.5rem"
      gradient
    />
    <h2>Team player</h2>
    <p>
      Participating in team-based programming contests has sharpened my ability
      to collaborate and communicate effectively with fellow developers.
    </p>
  </div>
</section>

<style>
  .box {
    border: 1px solid var(--outline-color);
    border-radius: 0.75rem;
    padding: 1.5rem;
    background-color: var(--surface-container-color);
    box-shadow: var(--shadow-sm);
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .skills p {
    color: var(--md-sys-color-on-surface-variant);
  }

  @media (min-width: 50em) {
    .box {
      border-radius: 1.5rem;
      padding: 2.5rem;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
    }

    .skills h2 {
      font-size: var(--text-2xl);
    }
  }
</style>
