---
import Icon from "./Icon.astro";
---

<section class="box skills">
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="terminal-window"
      color="var(--md-sys-color-primary)"
      size="2.5rem"
      gradient
    />
    <h2>Coding enthusiast</h2>
    <p>
      I love programming, and I believe that there are very few things more
      satisfying than solving a complex problem with code.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="trophy"
      color="var(--md-sys-color-primary)"
      size="2.5rem"
      gradient
    />
    <h2>Industry Leader</h2>
    <p>
      Neque viverra justo nec ultrices dui. Est ultricies integer quis auctor
      elit.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="strategy"
      color="var(--md-sys-color-primary)"
      size="2.5rem"
      gradient
    />
    <h2>Strategy-Minded</h2>
    <p>Urna porttitor rhoncus dolor purus non enim praesent ornare.</p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="calendar-check"
      color="var(--md-sys-color-primary)"
      size="2.5rem"
      gradient
    />
    <h2>Organized</h2>
    <p>Urna porttitor rhoncus dolor purus non enim praesent ornare.</p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="rocket-launch"
      color="var(--md-sys-color-primary)"
      size="2.5rem"
      gradient
    />
    <h2>Fast-learner</h2>
    <p>Urna porttitor rhoncus dolor purus non enim praesent ornare.</p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="users-three"
      color="var(--md-sys-color-primary)"
      size="2.5rem"
      gradient
    />
    <h2>Team player</h2>
    <p>Urna porttitor rhoncus dolor purus non enim praesent ornare.</p>
  </div>
</section>

<style>
  .box {
    border: 1px solid var(--outline-color);
    border-radius: 0.75rem;
    padding: 1.5rem;
    background-color: color-mix(
      in srgb,
      var(--md-sys-color-surface-container-lowest) 40%,
      transparent
    );
    box-shadow: var(--shadow-sm);
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .skills p {
    color: var(--md-sys-color-on-surface-variant);
  }

  @media (min-width: 50em) {
    .box {
      border-radius: 1.5rem;
      padding: 2.5rem;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
    }

    .skills h2 {
      font-size: var(--text-2xl);
    }
  }
</style>
